body {
  background-color: #222;
}

.cell {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #bbb;
  margin: 2px 2px;
  border-radius: 5px;
}

.cell.active {
  background-color: #fff;
}

.cell.clocked {
  background-color: #E91E63 ;
}

#matrix {
  text-align: center;
  margin-top: 128px;
}
